<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2> Question 1</h2>
        <h1> You find yourself on a deserted island with limited resources. What’s your first move?</h1>
        <form action="/2" method="post">
            <div>
                <input type="radio" id="q1a1" name="q1" value="a"/>
                <label for="q1a1">Search for food and water immediately. Survival comes first!</label>
            </div>
            <div>
                <input type="radio" id="q1a2" name="q1" value="b"/>
                <label for="q1a2">Climb the tallest tree to scout the area. Gotta know my surroundings!</label>
            </div>
            <div>
                <input type="radio" id="q1a3" name="q1" value="c"/>
                <label for="q1a3">Build a makeshift shelter and plan my next steps.</label>
            </div>
            <div>
                <input type="radio" id="q1a4" name="q1" value="d"/>
                <label for="q1a4">Explore the island for signs of life or danger.</label>
            </div>
            <div>
                <input type="radio" id="q1a5" name="q1" value="e"/>
                <label for="q1a5">Try to stay calm and think of clever ways to signal for rescue.</label>
            </div>
            <button type="submit">Submit</button>
        </form>

        <script src="" async defer></script>
    </body>
</html>