<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2> Question 2</h2>
        <h1> How do you react to someone in your group getting hurt?</h1>
        <form action="/3" method="post">
            <div>
                <input type="radio" id="q2a1" name="q2" value="a"/>
                <label for="q2a1">Immediately rush to help, no matter the risk.</label>
            </div>
            <div>
                <input type="radio" id="q2a2" name="q2" value="b"/>
                <label for="q2a2">Fight off the threat and secure the area first.</label>
            </div>
            <div>
                <input type="radio" id="q2a3" name="q2" value="c"/>
                <label for="q2a3">Strategize the best way to help without endangering others.</label>
            </div>
            <div>
                <input type="radio" id="q2a4" name="q2" value="d"/>
                <label for="q2a4">Panic a little but do my best to assist.</label>
            </div>
            <div>
                <input type="radio" id="q2a5" name="q2" value="e"/>
                <label for="q2a5">Stay composed and offer emotional support while others take the lead.</label>
            </div>
            <button type="submit">Submit</button>
        </form>

        <script src="" async defer></script>
    </body>
</html>