<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Question 3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Question 3</h2>
        <h1>What motivates you the most?</h1>
        <form action="/4" method="post">
            <div>
                <input type="radio" id="q3a1" name="q3" value="a"/>
                <label for="q3a1">The thrill of adventure and seeking the unknown.</label>
            </div>
            <div>
                <input type="radio" id="q3a2" name="q3" value="b"/>
                <label for="q3a2">Protecting and providing for the people I care about.</label>
            </div>
            <div>
                <input type="radio" id="q3a3" name="q3" value="c"/>
                <label for="q3a3">Knowledge and the pursuit of truth.</label>
            </div>
            <div>
                <input type="radio" id="q3a4" name="q3" value="d"/>
                <label for="q3a4">Creativity and building something amazing.</label>
            </div>
            <div>
                <input type="radio" id="q3a5" name="q3" value="e"/>
                <label for="q3a5">Spreading joy and connecting with others.</label>
            </div>
            <button type="submit">Submit</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>
