<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Question 4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Question 4</h2>
        <h1>How do you approach a new challenge?</h1>
        <form action="/5" method="post">
            <div>
                <input type="radio" id="q4a1" name="q4" value="a"/>
                <label for="q4a1">Dive in headfirst without hesitation!</label>
            </div>
            <div>
                <input type="radio" id="q4a2" name="q4" value="b"/>
                <label for="q4a2">Analyze the situation and make a calculated plan.</label>
            </div>
            <div>
                <input type="radio" id="q4a3" name="q4" value="c"/>
                <label for="q4a3">Look for creative or unconventional solutions.</label>
            </div>
            <div>
                <input type="radio" id="q4a4" name="q4" value="d"/>
                <label for="q4a4">Stay calm and methodical to minimize mistakes.</label>
            </div>
            <div>
                <input type="radio" id="q4a5" name="q4" value="e"/>
                <label for="q4a5">Take a cautious, step-by-step approach.</label>
            </div>
            <button type="submit">Submit</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>
