<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Question 5</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Question 5</h2>
        <h1>What kind of environment do you thrive in?</h1>
        <form action="/results" method="post">
            <div>
                <input type="radio" id="q5a1" name="q5" value="a"/>
                <label for="q5a1">A fast-paced and ever-changing one. I love action!</label>
            </div>
            <div>
                <input type="radio" id="q5a2" name="q5" value="b"/>
                <label for="q5a2">Somewhere calm and peaceful, where I can focus.</label>
            </div>
            <div>
                <input type="radio" id="q5a3" name="q5" value="c"/>
                <label for="q5a3">A creative space full of opportunities to invent and build.</label>
            </div>
            <div>
                <input type="radio" id="q5a4" name="q5" value="d"/>
                <label for="q5a4">A supportive group where everyone works together.</label>
            </div>
            <div>
                <input type="radio" id="q5a5" name="q5" value="e"/>
                <label for="q5a5">Anywhere that offers freedom and adventure.</label>
            </div>
            <button type="submit">Submit</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>
